<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/logo.png">
    <title>Profile - @ViewBag.title</title>
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")

</head>
<body>
    @{
        Html.RenderPartial("Partial/navbar_Partial");
    }
    <!-- Header -->
    <header class="body bg-surface-primary border-bottom pt-6">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">

                    </div>
                    <!-- Actions -->
                    <div class="col-sm-6 col-12 text-sm-end">
                        <a href="@Url.Action("Logout", "Account")" class="btn btn-danger" style="margin-top: 10px">
                            <span class=" pe-2">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                            <span>Đăng xuất</span>
                        </a>
                    </div>
                </div>
                <!-- Nav -->
                <ul class="nav nav-tabs mt-4 overflow-x border-0">
                    <li class="nav-item ">
                        <a href="@Url.Action("Index","Account")" class="nav-link menu">Thông tin cá nhân</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("orderList","Account")" class="nav-link menu font-regular">Đơn hàng</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link menu font-regular">Đổi mật khẩu</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/mainJS")
    <script>
        // Thêm active class vào category
        $(document).ready(function () {
            const currentUrl = window.location.href
            const getNameCate = currentUrl.split('Account')?.[1]
            const allCate = document.querySelectorAll('.menu');
            allCate[0].classList.add("active");
            console.log(getNameCate)
            if (getNameCate) {

                let activeCate;
                for (var i = 0; i < allCate.length; i++) {
                    if (allCate[i].getAttribute('href').split('Account')?.[1] === getNameCate) {
                        activeCate = allCate[i]
                        break
                    }
                };

                if (activeCate) {
                    activeCate.classList.add("active");
                    allCate[0].classList.remove("active");
                }

            };
        })

    </script>
</body>

</html>
