@using Boutique.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Boutique.Models.Product>

@{
    ViewBag.Title = "Trang sản phẩm";
    ViewBag.headTitle = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/admin_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">

                        <a class="btn btn-add btn-sm" href="@Url.Action("Create","Product")">
                            <i class="fas fa-plus"></i>
                            Tạo mới sản phẩm
                        </a>
                    </div>

                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép">
                            <i class="fas fa-copy"></i> Sao chép
                        </a>
                    </div>

                    <div class="col-sm-2">
                        <a class="btn btn-excel btn-sm" href="" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</a>
                    </div>

                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)">
                            <i class="fas fa-trash-alt"></i> Xóa tất cả
                        </a>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">

                    </div>
                    <div class="col-sm-12 col-md-6">
                        @using (Html.BeginForm("Index", "Product", FormMethod.Get, new { @class = "dataTables_filter d-flex justify-content-end" }))
                        {
                            <label>
                                Tìm kiếm:

                                @Html.TextBox("searchString", null, new { @class = "form-control form-control-sm" })

                            </label>
                        }
                    </div>
                </div>
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>

                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Số lượng</th>
                            <th>Tình trạng</th>
                            <th>Giá tiền</th>
                            <th>Danh mục</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.dsProduct)
                        {
                            <tr>

                                <td>@item.Code</td>
                                <td>@item.Name</td>
                                <td> <img src="~/Images/sp/@Url.Content(@item.Picture)" alt="Image" width="100" height="100" /></td>
                                <td>@item.Quantity</td>
                                <td>
                                    @if (@item.Quantity > 0)
                                    {
                                        <span class="badge bg-success">Còn hàng</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Hết hàng</span>
                                    }
                                </td>
                                <td>@string.Format("{0:#,0}", item.unitPrice)</td>
                                <td>@item.Category.Name</td>
                                <td>
                                    <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                                            onclick="location.href='@Url.Action("Delete", "Product",new { id = item.Id })'">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <button class="btn btn-primary btn-sm edit" type="button" title="Sửa"
                                            onclick="location.href='@Url.Action("Edit", "Product",new { id = item.Id })'">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-primary btn-sm info" type="button" title="Sửa"
                                            onclick="location.href='@Url.Action("Detail", "Product",new { id = item.Id })'">
                                        <i class="fas fa-info-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

