@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--=================================================== LOADER============================================================ -->
<div class="loader-container">
    <div class="loader"></div>
</div>

<!--=================================================== MAIN ============================================================ -->

<section id="main">
    <div id="release" class="release container">
        <div class="release__circle"></div>
        <div class="release__content">
            <div class="textBox">
                <h2>It's not just clothing<br>It's <span>Fashion</span></h2>
                <p>Thời trang luôn là yếu tố giúp bạn tự tin hơn, chúng tôi mang đến một thời đại mới dành cho những người yêu thích trang phục đơn giản.</p>
                <a href="@Url.Action("Store")">Learn more</a>
            </div>
            <div class="imgBox">
                <img src="~/Images/sp/model.png" class="fashion">
            </div>
        </div>
        <ul class="release__thumb">
            <li><img src="~/Images/sp/model.png" onclick="imgSlider('/Images/sp/model.png');changeCircle('rgb(101 104 99)')"></li>
            <li><img src="~/Images/sp/model2.png" onclick="imgSlider('/Images/sp/model2.png');changeCircle('#968f8f')"></li>
            <li><img src="~/Images/sp/model3.png" onclick="imgSlider('/Images/sp/model3.png');changeCircle('rgb(132 180 202)')"></li>
        </ul>
    </div>

    <div id="about" class="about container">
        <div class="about__container">
            <div id="slide">
                <div class="item" style="background-image: url('../Images/slideshow/1.jpg');">
                    <div class="content" id="content1">
                        <div class="name">Trần Thanh Nhân</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button onclick="location.href='@Url.Action("Store", "Home")'" class="more">Shop now <i class="fa fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="item" style="background-image: url('../Images/slideshow/2.jpg');">
                    <div class="content">
                        <div class="name">Trần Thanh Nhân</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button onclick="location.href='@Url.Action("Store", "Home")'" class="more">Shop now <i class="fa fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="item" style="background-image: Url('../Images/slideshow/3.jpg')">
                    <div class="content">
                        <div class="name">Trần Thanh Nhân</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button onclick="location.href='@Url.Action("Store", "Home")'" class="more">Shop now <i class="fa fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="item" style="background-image: url('../Images/slideshow/4.jpg');">
                    <div class="content">
                        <div class="name">Trần Thanh Nhân</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button onclick="location.href='@Url.Action("Store", "Home")'" class="more">Shop now <i class="fa fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="item" style="background-image: url('../Images/slideshow/5.jpg');">
                    <div class="content">
                        <div class="name">Trần Thanh Nhân</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button onclick="location.href='@Url.Action("Store", "Home")'" class="more">Shop now <i class="fa fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="item" style="background-image: url('../Images/slideshow/6.jpg');">
                    <div class="content">
                        <div class="name">Trần Thanh Nhân</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button onclick="location.href='@Url.Action("Store", "Home")'" class="more">Shop now <i class="fa fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button id="prev"><i class="fa fa-solid fa-angle-left"></i></button>
                <button id="next"><i class="fa fa-solid fa-angle-right"></i></button>
            </div>
        </div>
        <ul class="social_media">
            <li style="--i:#5599ff;--j: #51dcff;">
                <span class="icon"><i class="fa fa-facebook"></i></span>
                <a href="https://www.facebook.com/ttnhan12" class="titulo">Facebook</a>
            </li>
            <li style="--i:#a955ff;--j: #ea51ff;">
                <span class="icon"><i class="fa fa-instagram"></i></span>
                <a href="https://www.instagram.com/tsi.nhan/" class="titulo">Instagram</a>
            </li>
            <li style="--i:#7455ff;--j: #a251ff;">
                <span class="icon"><i class="fa fa-linkedin"></i></span>
                <a href="https://www.linkedin.com/in/thanhnhanwoke/" class="titulo">Linkedin</a>
            </li>
        </ul>
    </div>

</section>

<!--=================================================== BANNER ============================================================ -->

<section id="banner">
    <div id="logo"></div>
    <div id="slideshow">
    </div>
</section>

<section class="counter spad">
    <div id="contact" class="contact spad">
        <div class="container">
            <div class="grid__row">
                <div class="grid__column-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>Information</span>
                            <h2>Contact Us</h2>
                            <p>Nếu bạn đang có bất cứ vấn đề gì, vui lòng liên hệ với chúng tôi.</p>
                        </div>
                        <ul>
                            <li>
                                <h4>Thành Phố Hồ Chí Minh</h4>
                                <p> 828 Sư Vạn Hạnh, phường 12, Quận 10. <br />(+84) 858 032 268</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid__column-6">
                    <div class="contact__form">
                        <form action="#">
                            <div class="grid__row">
                                <span id="content"></span>
                                <div class="grid__column-6">
                                    <input type="text" id="name" placeholder="Name">
                                    <span class="error text-danger"></span>
                                </div>
                                <div class="grid__column-6">
                                    <input type="text" id="email" placeholder="Email">
                                    <span class="error text-danger"></span>
                                </div>
                                <div class="grid__column-12">
                                    <textarea class="ckeditor" id="messenger"></textarea>
                                    <span class="error text-danger"></span>
                                </div>
                                <button type="button" class="site-btn" id="sendmail">Send Message</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid__row">
            <div class="grid__column-2-4">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">46</h2>
                    </div>
                    <span>Our <br />City</span>
                </div>
            </div>
            <div class="grid__column-2-4">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">32</h2>
                    </div>
                    <span>Total <br />Categories</span>
                </div>
            </div>
            <div class="grid__column-2-4">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">96</h2>
                    </div>
                    <span>In <br />Product</span>
                </div>
            </div>
            <div class="grid__column-2-4">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">98</h2>
                        <strong>%</strong>
                    </div>
                    <span>Happy <br />Customer</span>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="zalo-chat-widget" data-oaid="2314494191542853152"
     data-welcome-message="Rất vui khi được hỗ trợ bạn!"
     data-autopopup="0" data-width="300" data-height="300">
</div>
<script src="https://sp.zalo.me/plugins/sdk.js"></script>

<script>
    function imgSlider(anything) {
        document.querySelector('.fashion').src = anything;
    }
    function changeCircle(color) {
        const circle = document.querySelector('.release__circle');
        circle.style.background = color;
    }
    $('#sendmail').click(function () {
        if (Validate()) {
            var name = $('#name').val();
            var email = $('#email').val();
            var messenger = $('#messenger').val();
            $.ajax({
                url: '/Home/Contact',
                type: 'POST',
                data: {
                    name: name,
                    email: email,
                    messenger: messenger
                },
                success: function (res) {
                    alert("Đã gửi yêu cầu thành công");
                    resetInput();
                    $('#content').html(res.content);
                }
            });
        }
    });
    function Validate() {
        var check = false;
        debugger;
        var name = $('#name').val();
        var email = $('#email').val();
        var messenger = $('#messenger').val();
        if (name === '') {
            $('#name').next().html('Bạn chưa nhập họ và tên');
            check = false;
        }
        else {
            $('#name').next().html('');
            check = true;
        }
        if (email === '') {
            $('#email').next().html('Bạn chưa nhập email liên lạc');
            check = false;
        }
        else {
            $('#email').next().html('');
            check = true;
        }
        if (messenger === '') {
            $('#messenger').next().html('Bạn chưa nhập nội dung');
            check = false;
        }
        else {
            $('#messenger').next().html('');
            check = true;
        }
        return check;
    }
    function resetInput() {
        $('#name').val('');
        $('#email').val('');
        $('#messenger').val('');
    }
</script>
