@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--=================================================== LOADER============================================================ -->
<div class="loader-container">
    <div class="loader"></div>
</div>
<!--=================================================== BACKTOP ============================================================ -->
<div id="backtop">
    <i class="fal fa-arrow-to-top"></i>
</div>

<!--=================================================== BANNER ============================================================ -->

<div id="banner">
    <div id="logo"></div>
    <div id="slideshow">
    </div>

</div>

<!--=================================================== MAIN ============================================================ -->

<section id="main">
    <div id="release" class="container" style="margin:50px 0">
        <div id="headline">
            <h3>NEW RELEASE</h3>
        </div>
        <ul id="products" class="row">
            @foreach (var product in ViewBag.dsProduct)
            {
                <li class="product-item">
                    <div class="product-top">
                        <a href="@Url.Action("Store","Home")" class="product-thumb"><img src="/Images/sp/@Url.Content(@product.Picture)"></a>
                        <a href="#" class="buynow">xem ngay</a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-cat"> @product.Category.Name</a>
                        <a href="" class="product-name">@product.Name</a>
                        <div class="product-price">
                            <span class="product--costPrice">@string.Format("{0:#,0}", product.costPrice) <span class="product--currentPrice">₫</span> </span>
                            <span class="product--unitPrice">@string.Format("{0:#,0}", product.unitPrice) <span class="product--currentPrice">₫</span></span>
                        </div>
                        <div class="store-product__sale-off">
                            <span class="store-product__sale-off-percent">@product.Sale %</span>
                            <span class="store-product__sale-off-label">Sale</span>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div id="about" class="about container">
        <div class="about__container">
            <div id="slide">
                <div class="item" style="background-image: url('../Images/slideshow/1.jpg');">
                    <div class="content" id="content1">
                        <div class="name">Boutique</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button class="more">See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url('../Images/slideshow/2.jpg');">
                    <div class="content">
                        <div class="name">Trần Thanh Nhân</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button class="more">See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: Url('../Images/slideshow/3.jpg')">
                    <div class="content">
                        <div class="name">Trần Thanh Nhân</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button class="more">See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url('../Images/slideshow/4.jpg');">
                    <div class="content">
                        <div class="name">Trần Thanh Nhân</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button class="more">See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url('../Images/slideshow/5.jpg');">
                    <div class="content">
                        <div class="name">Trần Thanh Nhân</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button class="more">See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url('../Images/slideshow/6.jpg');">
                    <div class="content">
                        <div class="name">Trần Thanh Nhân</div>
                        <div class="des">Sinh viên tại HUFLIT</div>
                        <button class="more">See more</button>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button id="prev"><i class="fas fa-solid fa-angle-left"></i></button>
                <button id="next"><i class="fas fa-solid fa-angle-right"></i></button>
            </div>
        </div>
        <ul class="social_media">
            <li style="--i:#5599ff;--j: #51dcff;">
                <span class="icon"><i class="fab fa-facebook"></i></span>
                <a href="https://www.facebook.com/ttnhan12" class="titulo">Facebook</a>
            </li>
            <li style="--i:#a955ff;--j: #ea51ff;">
                <span class="icon"><i class="fab fa-instagram"></i></span>
                <a href="https://www.instagram.com/tsi.nhan/" class="titulo">Instagram</a>
            </li>
            <li style="--i:#7455ff;--j: #a251ff;">
                <span class="icon"><i class="fab fa-linkedin"></i></span>
                <span class="titulo">Linkedin</span>
            </li>
        </ul>
    </div>
</section>


<!--=================================================== FOOTER============================================================ -->
<footer id="footer" class="container">
</footer>

<script>
    document.getElementById('next').onclick = function () {
        let lists = document.querySelectorAll('.item');
        document.getElementById('slide').appendChild(lists[0]);
    }
    document.getElementById('prev').onclick = function () {
        let lists = document.querySelectorAll('.item');
        document.getElementById('slide').prepend(lists[lists.length - 1]);
    }
</script>